/*--------------------------------------------------------------
# Navbar Customizations
--------------------------------------------------------------*/

.navbar-brand-oetc {
  padding: 6px 15px 4px;
  height: 40px;
}

// Secondary "navbar" that sits below our primary navbar
// -------------------------

.secondary-search-nav {
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 10px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
