/*--------------------------------------------------------------
# Standard sizes for position:sticky
--------------------------------------------------------------*/
.sticky-xxl {
  position: sticky;
  top: 200px;
}

.sticky-xl {
  position: sticky;
  top: 100px;
}

.sticky-lg {
  position: sticky;
  top: 60px;
}

.sticky-md {
  position: sticky;
  top: 30px;
}

.sticky-sm {
  position: sticky;
  top: 20px;
}

.sticky-xs {
  position: sticky;
  top: 10px;
}

.sticky-xxs {
  position: sticky;
  top: 5px;
}

.sticky-none {
  position: sticky;
  top: 0;
}